<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:component-scan base-package="com.mmall" annotation-config="true"/>

    <!-- Spring JavaMailSender -->
    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="javaMailSender">
        <property name="host" value="smtp.qq.com"/>
        <!--<property name="host" value="smtp.exmail.qq.com"></property>-->
        <!-- 或许你可以用465端口，默认的25不适合 -->
        <property name="port" value="587"/>
        <property name="protocol" value="smtp"/>
        <property name="username" value="1570482304@qq.com"/>
        <!-- 这里的是你在QQ邮箱发送开通SMTP短信后，获取的授权码 -->
        <property name="password" value="faljdipboekqgbje"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
    </bean>

    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="1570482304@qq.com" />
        <!--         <property name="from" value="xxxxx@qq.com" /> -->
        <property name="subject" value="云和万家" />
    </bean>

</beans>